@import url('https://fonts.googleapis.com/css2?family=Urban:wght@100;400;500;600;700&display=swap');

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {

        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

$bg-primary: #ff4242;
$bg-primary-dark: #532520;
$bg-primary-medium: #8c6862;
$bg-primary-light: #b29893;

$bg-overlay: #9f7f7a;

$border-color: #836f6b;
$font-color: #000;
$font-color-secondary: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

html,
body {
    background-color: $bg-primary-light;
    scroll-behavior: smooth;
    color: $font-color;
    overflow-x: hidden;

    font-family: 'Urban', system-ui, sans-serif;
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button,
textarea,
input {
    border: none;
    background: none;
    font: inherit;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a,
button {
    transition: all .6s ease;
}

a:not(.active):hover,
button:not(.active, :disabled):hover {
    filter: brightness(85%);
}

input,
textarea,
select {
    background-color: #fff;
    border-radius: 5px;
    padding: .8rem;
}

textarea {
    resize: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
::-ms-reveal {
    cursor: pointer;
    filter: invert(0.8) brightness(100%);
}

.container {
    position: relative;
}

.text-detail {
    color: $font-color;

    &--secondary {
        color: $font-color-secondary;
    }
}

.btn-float {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    &:hover {
        transform: translate(-0.5rem, -0.5rem) scale(1.1);
    }
}

.btn-primary {
    font-size: 1rem;
    border-radius: 3px;
    padding: .6rem 1.2rem;
    color: $font-color-secondary;
    background-color: $bg-primary;

    &--dark {
        background-color: $bg-primary-dark;
    }

    &.btn-sm {
        padding: .3rem .6rem;
    }
}

.link-secondary {
    color: $font-color-secondary;
}

h2 {
    font-size: 2.6rem;
    text-transform: uppercase;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    width: calc(100% - 1.5rem);

    &.container-centered {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &.vh-100 {
        min-height: 100vh;
    }
}

.notification-overlay {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 120%);
    width: 100%;

    padding: 1rem 0;
    text-align: center;
    background: $bg-overlay;
    color: $font-color-secondary;
    border: 1px solid $border-color;

    z-index: 999;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;

    &.notification-active {
        opacity: 1;
        transform: translate(-50%, 0%);
    }
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 0.6);
    width: 100%;
    z-index: 999;

    display: grid;
    place-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;

    &.modal-active {
        opacity: 1;
        pointer-events: all;
    }

    .modal {
        background-color: $bg-overlay;
        box-shadow: 0 0 1rem rgb(0 0 0 / 0.15);
        color: $font-color-secondary;
        border-radius: 5px;
        padding: 1.5rem;
        max-width: 600px;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .modal-body {
        display: grid;
        gap: 0.3rem;

        h3 {
            margin-bottom: 1rem;
            font-size: 1.6rem;
        }

        hr {
            margin: .6rem 0;
        }

        .modal-alert {
            margin-top: 1.2rem;
            text-align: center;
        }
    }

    .modal-footer {
        margin-top: 3rem;
        display: grid;
        gap: 0.6rem;
        text-align: center;
    }
}

form {
    display: grid;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    text-align: left;

    &.card-form {
        padding: 2rem 1rem;
        background-color: $bg-primary-medium;
        border-radius: 5px;

        h2,
        h3,
        h4,
        label {
            color: $font-color-secondary;
        }
    }

    h2,
    h3 {
        text-align: center;
    }

    a {
        color: $bg-primary;
        text-align: center;
    }

    .form-group {
        display: grid;
        gap: .3rem;
    }

    .form-alert div {
        border-radius: 5px;
        border: 1px solid transparent;
        padding: .8rem;
        text-align: center;
        margin-bottom: 1rem;
        color: $font-color-secondary;

        &.mt {
            margin-top: 2rem;
        }

        &.success {
            border-color: rgb(0, 65, 0);
            background-color: rgb(0, 165, 0);
        }

        &.error {
            border-color: rgb(65, 0, 0);
            background-color: rgb(165, 0, 0);
        }
    }
}

.table-container {
    width: 100%;
    overflow-x: auto;

    table {
        width: inherit;
    }
}

table {
    border-collapse: collapse;

    td.user-message {
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: unset;
    }

    td,
    th {
        border-bottom: 1px solid $border-color;
        text-align: left;
        padding: .3rem;
        white-space: nowrap;
    }

    th {
        background-color: darken($bg-overlay, 5%);

        &[colspan] {
            font-size: 1.2rem;
        }
    }

    .actions {
        display: flex;
        gap: 0.3rem;

        >* {
            background-color: $bg-primary-medium;
            color: $font-color-secondary;
            border-radius: .25rem;
            width: 1.8rem;
            aspect-ratio: 1;
            display: grid;
            place-items: center;
        }
    }
}

.card {
    display: grid;
    gap: 0.3rem;
    border-radius: 3px;
    border: 1px solid $border-color;
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.15);
    background-color: $bg-overlay;
    padding: 1rem;

    h3 {
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }
}