@import './base';

.main__header {
    color: $font-color-secondary;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;

        nav a {
            margin-inline: .3rem;

            &.btn__primary {
                padding: .4rem .8rem;
            }
        }
    }
}

.only__form .main__header {
    color: $font-color;
}

#schedule_page .main__header .btn__primary {
    display: none;
}

.hero__section {
    &.home__section {
        background: url(../images/home_wallpaper.jpg) no-repeat;
        background-size: cover;
        color: $font-color-secondary;
    }

    &.schedule__section {
        background: url(../images/schedule_wallpaper.jpg) no-repeat;
        background-size: cover;
        color: $font-color-secondary;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100vh;
    }

    &.schedule__section .container {
        justify-content: center;
        text-align: center;
    }

    &:not(.schedule__section) .hero__section__info {
        max-width: 30%;

    }

    .hero__section__info {
        h1 {
            font-size: 4rem;
            text-transform: uppercase;
            font-weight: 100;
            margin-bottom: .5rem;
        }

        .phrase {
            margin-bottom: 5rem;
            font-size: 1.6rem;
        }

        p {
            font-size: 1.3rem;
            margin-bottom: 2rem;
        }

        span {
            color: $bg-primary;
        }

        a:hover {
            padding-left: 2rem;
        }
    }

    .hero__section__images {
        display: flex;
        gap: 0.6rem;
    }

    @media (max-width: 768px) {
        padding-bottom: 8rem;

        .container {
            padding-top: calc(10vh + 1rem);
            justify-content: center;
            text-align: center;
        }

        .container,
        .hero__section__images {
            flex-direction: column;
        }

        .hero__section__info h1 {
            font-size: 2.6rem;
        }

        &:not(.schedule__section) .hero__section__info {
            margin-bottom: 3rem;
            max-width: unset;
        }
    }
}

.rates__section {
    background-color: $bg-primary-dark;
    color: $font-color-secondary;
    padding: 6rem 0 7.6rem;
    text-align: center;

    h2 {
        margin-bottom: 1rem;
    }

    .rates__container {
        display: grid;
        place-items: center;
        text-align: left;
        margin-top: 5rem;
        gap: 0.8rem;

        .service {
            display: flex;
            align-items: center;
            gap: 1rem;

            .divider {
                width: 10rem;
                background-color: $font-color-secondary;
                height: 1px;
            }

            p {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column;
            gap: 3rem;
        }

        .rates__container .service .divider {
            display: none;
        }
    }
}

.about__section .container {
    display: flex;
    justify-content: space-around;
    padding: 6rem 0;
    min-height: 90vh;
    gap: 5rem;

    img {
        object-fit: contain;
        border-radius: 0;
    }

    .about__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}

.gallery__section .container {
    padding: 6rem 0;

    h2 {
        margin-bottom: 2rem;
        text-align: center;
    }

    .images__container {
        display: grid;
        grid-template-columns: 300px 320px 300px;
        justify-content: center;
        align-items: center;
        gap: .6rem;

        .images {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .6rem;

            img {
                box-shadow: 0 0 1rem rgb(0 0 0 / 0.15);
                aspect-ratio: 16/9;
                transition: all .6s ease;
                object-fit: cover;
            }
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    gap: 1rem;

    h3 {
        font-size: 1.6rem;
    }

    &.article__columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
        padding-top: 6rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .column {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;


            @media (max-width: 768px) {
                &:last-child {
                    margin-top: 5rem;
                }
            }
        }
    }
}

.service__type__section {
    text-align: center;

    @media (max-width: 768px) {
        padding-top: 3rem;
    }

    .services__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1rem;
        gap: 1.6rem;

        .service {
            width: 100%;
            max-width: 200px;
            aspect-ratio: 1;
            border-radius: 5px;

            background-color: $bg-primary-dark;
            border: 1px solid $border-color;
            box-shadow: 0 0 1rem rgb(0 0 0 / 0.15);

            display: grid;
            place-content: center;
            text-align: center;
            gap: .3rem;
            cursor: pointer;

            h3 {
                font-size: 1.2rem;
                color: $font-color-secondary;
            }

            p {
                font-weight: 700;
                font-size: 1.8rem;
                color: $bg-primary;
            }

            &:not(.schedule__option__selected):hover {
                border-color: $bg-primary;
            }
        }
    }
}

.datetime__section {
    padding-bottom: 6rem;

}

.calendar {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 1;
    margin: 0 auto;

    .calendar__header {
        margin-bottom: .6rem;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .calendar__body {
        border: 1px solid $border-color;
        box-shadow: 0 0 1rem rgb(0 0 0 / 0.15);
        background-color: darken($bg-primary-light, 5%);
        border-radius: 3px;
        overflow: hidden;

        .calendar__weekdays {
            color: $font-color-secondary;
            background-color: $bg-primary-dark;

            display: flex;
            justify-content: space-between;
            padding: .3rem;
        }

        .calendar__content {
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            div {
                border: 1px solid transparent;
                transition: all .6s ease;
                cursor: default;

                &.schedule__option__selected {
                    background-color: darken($bg-primary-light, 5%);
                }

                &.passed {
                    cursor: default;
                    opacity: .25;
                }

                &:not(.blank, .active, .passed):hover {
                    background-color: darken($bg-primary-light, 5%);
                    filter: brightness(90%);
                    cursor: pointer;
                }
            }
        }

        .calendar__weekdays div,
        .calendar__content div {
            display: grid;
            place-content: center;
            padding: .3rem;
            aspect-ratio: 1;
        }
    }
}

.time__buttons__container {
    display: flex;
    justify-content: center;

    .time__buttons {
        display: flex;
        margin-top: 2.6rem;
        flex-wrap: wrap;
        gap: 0.6rem;

        @media (max-width: 768px) {
            justify-content: center;
        }

        button {
            background-color: $bg-primary-dark;
            color: $font-color-secondary;
            min-width: 60px;
            border-radius: 3px;
            aspect-ratio: 16/9;
            box-shadow: 0 0 0.75rem rgb(0 0 0 / 0.15);
            border: 1px solid $border-color;
            font-weight: 500;

            &:disabled {
                opacity: .25 !important;
                cursor: default;
            }
        }
    }
}

.message__section form {
    max-width: unset;
}

.schedule__confirm {
    display: flex;
    width: max-content;
}

.admin__page .main__header,
.profile__page .main__header {
    background-color: $bg-primary-dark;
}

.admin__item__section {
    &:first-of-type {
        margin-top: calc(10vh + 3rem);
    }

    &:last-of-type {
        margin-bottom: 10vh;
    }

    .container {
        display: grid;
        align-items: flex-start;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
        margin-block: 1rem;

        form {
            max-width: unset;

            h2 {
                font-size: 1.6rem;
            }
        }
    }

    &.admin__item__section__rows .container {
        grid-template-columns: 1fr;
    }

    form,
    .table__container {
        border: 1px solid $border-color;
        background-color: $bg-overlay;
        padding: 2rem 1rem;
        border-radius: .5rem;
        flex: 1;
    }

    .table__container {
        h3 {
            margin-bottom: 1rem;
        }

        td.status__select {
            select {
                padding: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .admin__item__section .container {
        grid-template-columns: 1fr;
    }

    .table__container {
        overflow-x: auto;
    }
}

.profile__section .container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    min-height: 100vh;
    padding: calc(10vh + 1rem) 0 3rem 0;

    h2 {
        font-size: 1.6rem;
        text-transform: none;
        margin-bottom: 2rem;
    }
}

footer {
    background-color: $bg-primary-dark;
    color: $font-color-secondary;
    overflow: hidden;

    .container {
        .divider {
            display: block;
            background-color: $border-color;
            width: 100%;
            height: 1px;
        }

        .contact__container {
            margin: 2rem 0;

            h2 {
                font-size: 1.3rem;
                margin-bottom: 1.8rem;
            }

            .contact__elements {
                display: grid;
                gap: 0.6rem;
            }
        }

        .creator {
            padding: 1rem 0;
            text-align: center;
        }
    }
}