@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

button,
textarea,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  transition: all 0.6s ease;
}

a:not(.active):hover,
button:not(.active, :disabled):hover {
  filter: brightness(90%);
}

textarea {
  resize: none;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator,
::-ms-reveal {
  cursor: pointer;
  filter: invert(0.8) brightness(100%);
}

.container {
  position: relative;
}
@media (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }
}

.title__background {
  position: absolute;
  top: 5%;
  font-size: 5rem;
  opacity: 0.03;
  margin-bottom: 0;
  width: 100%;
  text-align: left;
  transition: transform linear;
}
@media (max-width: 768px) {
  .title__background {
    display: none;
  }
}

.text__detail__inverse {
  color: transparent;
  -webkit-text-stroke: 1px #ff4242;
}

.text__detail {
  color: #ff4242;
}

.service__title__background {
  left: -18%;
}

.datetime__title__background {
  left: 0;
}

.btn__float {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.btn__float:hover {
  transform: scale(1.1);
}

.btn__primary {
  border-radius: 3px;
  padding: 0.8rem 1.6rem;
  color: #fff;
  background-color: #ff4242;
}
.btn__primary.btn__sm {
  padding: 0.3rem 0.6rem;
}

h2 {
  font-size: 2.6rem;
  text-transform: uppercase;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  width: calc(100% - 1.5rem);
}
.container.container__centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container.vh-100 {
  min-height: 100vh;
}

.schedule__option__selected {
  filter: brightness(90%);
  border-radius: 3px;
}

.notification__overlay {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 120%);
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  background: #420000;
  color: #fff;
  border: 1px solid hsl(0, 30%, 55%);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}
.notification__overlay.notification__active {
  opacity: 1;
  transform: translate(-50%, 0%);
}

.modal__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  width: 100%;
  z-index: 999;
  display: grid;
  place-content: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.modal__overlay.modal__active {
  opacity: 1;
  pointer-events: all;
}
.modal__overlay .modal {
  background-color: #ffdbdb;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  color: #000;
  border-radius: 5px;
  padding: 2rem;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal__overlay .modal__body {
  display: grid;
  gap: 0.3rem;
}
.modal__overlay .modal__body h3 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.modal__overlay .modal__body hr {
  border-color: #420000;
  margin: 1rem 0;
}
.modal__overlay .modal__body .modal__alert {
  margin-top: 1.2rem;
  text-align: center;
}
.modal__overlay .modal__footer {
  margin-top: 3rem;
  display: grid;
  gap: 0.6rem;
  text-align: center;
}

form {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  text-align: left;
}
form h2 {
  text-align: center;
}
form a {
  color: #ff4242;
  text-align: center;
}
form .form__group {
  display: grid;
  gap: 0.3rem;
}
form .form__alert div {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.8rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
  margin-top: 2rem;
}
form .form__alert div.success {
  border-color: rgb(0, 65, 0);
  background-color: rgb(0, 165, 0);
}
form .form__alert div.error {
  border-color: rgb(65, 0, 0);
  background-color: rgb(165, 0, 0);
}

input,
textarea,
select {
  background-color: #fff;
  border-radius: 5px;
  padding: 0.8rem;
}

.table__container table {
  width: 100%;
  overflow-x: auto;
}

.table__container table {
  width: 100%;
}

table {
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid hsl(0, 30%, 55%);
  text-align: left;
  padding: 0.3rem;
}
table th {
  background-color: #ffc2c2;
}
table th[colspan] {
  font-size: 1.2rem;
}
table .actions {
  display: flex;
  gap: 0.3rem;
}
table .actions > * {
  background-color: #ffc2c2;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.3rem;
}

.card {
  display: grid;
  gap: 0.3rem;
  border-radius: 3px;
  border: 1px solid hsl(0, 30%, 55%);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  background-color: #ffc2c2;
  padding: 1rem;
}
.card h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

body {
  background-color: #ffdbdb;
  color: #000;
  font-family: "Lora", system-ui, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main__header {
  color: #fff;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}
.main__header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.main__header .container nav a {
  margin-inline: 0.3rem;
}
.main__header .container nav a.btn__primary {
  padding: 0.4rem 0.8rem;
}

.only__form .main__header {
  color: #000;
}

#schedule_page .main__header .btn__primary {
  display: none;
}

.hero__section.home__section {
  background: url(../images/home_wallpaper.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}
.hero__section.schedule__section {
  background: url(../images/schedule_wallpaper.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}
.hero__section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.hero__section.schedule__section .container {
  justify-content: center;
  text-align: center;
}
.hero__section:not(.schedule__section) .hero__section__info {
  max-width: 30%;
}
.hero__section .hero__section__info h1 {
  font-size: 3.6rem;
  font-family: "Bebas Neue", system-ui, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.hero__section .hero__section__info .phrase {
  margin-bottom: 5rem;
  font-size: 1.6rem;
}
.hero__section .hero__section__info p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.hero__section .hero__section__info span {
  color: #ff4242;
}
.hero__section .hero__section__info a:hover {
  padding-left: 2rem;
}
.hero__section .hero__section__images {
  display: flex;
  gap: 0.6rem;
}
@media (max-width: 768px) {
  .hero__section {
    padding-bottom: 8rem;
  }
  .hero__section .container {
    padding-top: calc(10vh + 1rem);
    justify-content: center;
    text-align: center;
  }
  .hero__section .container,
  .hero__section .hero__section__images {
    flex-direction: column;
  }
  .hero__section .hero__section__info h1 {
    font-size: 2.6rem;
  }
  .hero__section:not(.schedule__section) .hero__section__info {
    margin-bottom: 3rem;
    max-width: unset;
  }
}

.rates__section {
  background-color: #420000;
  color: #fff;
  padding: 6rem 0 7.6rem;
  text-align: center;
}
.rates__section h2 {
  margin-bottom: 1rem;
}
.rates__section .rates__container {
  display: grid;
  place-items: center;
  text-align: left;
  margin-top: 5rem;
  gap: 0.8rem;
}
.rates__section .rates__container .service {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.rates__section .rates__container .service .divider {
  width: 10rem;
  background-color: #fff;
  height: 1px;
}
.rates__section .rates__container .service p {
  font-size: 1.3rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  .rates__section .container {
    flex-direction: column;
    gap: 3rem;
  }
  .rates__section .rates__container .service .divider {
    display: none;
  }
}

.about__section .container {
  display: flex;
  justify-content: space-around;
  padding: 6rem 0;
  min-height: 90vh;
  gap: 5rem;
}
.about__section .container img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0;
}
.about__section .container .about__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.about__section .container .about__text .social__media {
  display: flex;
  gap: 0.3rem;
}
@media (max-width: 768px) {
  .about__section .container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}

.gallery__section .container {
  padding: 6rem 0;
}
.gallery__section .container h2 {
  margin-bottom: 2rem;
  text-align: center;
}
.gallery__section .container .images__container {
  display: grid;
  grid-template-columns: 300px 320px 300px;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.gallery__section .container .images__container .images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}
.gallery__section .container .images__container .images img {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  aspect-ratio: 16/9;
  transition: all 0.6s ease;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__section .container .images__container:hover .images :not(:hover) {
  filter: grayscale(100%);
}
@media (max-width: 768px) {
  .gallery__section .container .images__container {
    grid-template-columns: 1fr;
  }
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  gap: 1rem;
}
article h3 {
  font-size: 1.6rem;
}
article.article__columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  padding-top: 6rem;
}
@media (max-width: 768px) {
  article.article__columns {
    grid-template-columns: 1fr;
  }
}
article.article__columns .column {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 768px) {
  article.article__columns .column:last-child {
    margin-top: 5rem;
  }
}

.service__type__section {
  text-align: center;
}
@media (max-width: 768px) {
  .service__type__section {
    padding-top: 3rem;
  }
}
.service__type__section .services__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1.6rem;
}
.service__type__section .services__container .service {
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1;
  border-radius: 5px;
  background-color: #ffc2c2;
  border: 1px solid hsl(0, 30%, 55%);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  display: grid;
  place-content: center;
  text-align: center;
  gap: 0.3rem;
  cursor: pointer;
}
.service__type__section .services__container .service h3 {
  font-size: 1.2rem;
}
.service__type__section .services__container .service p {
  font-weight: 700;
  font-size: 1.8rem;
  color: #ff4242;
}
.service__type__section .services__container .service:not(.schedule__option__selected):hover {
  border-color: #ff4242;
}

.datetime__section {
  padding-bottom: 6rem;
}

.calendar {
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1;
  margin: 0 auto;
}
.calendar .calendar__header {
  margin-bottom: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar .calendar__body {
  border: 1px solid hsl(0, 30%, 55%);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  background-color: #ffc2c2;
  border-radius: 3px;
  overflow: hidden;
}
.calendar .calendar__body .calendar__weekdays {
  color: #fff;
  background-color: #420000;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
}
.calendar .calendar__body .calendar__content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar .calendar__body .calendar__content div {
  border: 1px solid transparent;
  transition: all 0.6s ease;
  cursor: default;
}
.calendar .calendar__body .calendar__content div.schedule__option__selected {
  background-color: #ffc2c2;
}
.calendar .calendar__body .calendar__content div.passed {
  cursor: default;
  opacity: 0.25;
}
.calendar .calendar__body .calendar__content div:not(.blank, .active, .passed):hover {
  background-color: #ffc2c2;
  filter: brightness(90%);
  cursor: pointer;
}
.calendar .calendar__body .calendar__weekdays div,
.calendar .calendar__body .calendar__content div {
  display: grid;
  place-content: center;
  padding: 0.3rem;
  aspect-ratio: 1;
}

.time__buttons__container {
  display: flex;
  justify-content: center;
}
.time__buttons__container .time__buttons {
  display: flex;
  margin-top: 2.6rem;
  flex-wrap: wrap;
  gap: 0.6rem;
}
@media (max-width: 768px) {
  .time__buttons__container .time__buttons {
    justify-content: center;
  }
}
.time__buttons__container .time__buttons button {
  min-width: 60px;
  border-radius: 3px;
  aspect-ratio: 16/9;
  background-color: #ffc2c2;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15);
  border: 1px solid hsl(0, 30%, 55%);
  font-weight: 500;
}
.time__buttons__container .time__buttons button:disabled {
  opacity: 0.25 !important;
  cursor: default;
}

.message__section form {
  max-width: unset;
}

.schedule__confirm {
  display: flex;
  width: -moz-max-content;
  width: max-content;
}

.admin__page .main__header,
.profile__page .main__header {
  background-color: #420000;
}

.admin__item__section:first-of-type {
  margin-top: calc(10vh + 3rem);
}
.admin__item__section:last-of-type {
  margin-bottom: 10vh;
}
.admin__item__section .container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin-block: 1rem;
}
.admin__item__section .container form {
  max-width: unset;
}
.admin__item__section .container form h2 {
  font-size: 1.6rem;
}
.admin__item__section.admin__item__section__rows .container {
  grid-template-columns: 1fr;
}
.admin__item__section form,
.admin__item__section .table__container {
  border: 1px solid hsl(0, 30%, 55%);
  background-color: #ffc2c2;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  flex: 1;
}
.admin__item__section .table__container td.status__select select {
  padding: 0;
}

@media (max-width: 768px) {
  .admin__item__section .container {
    grid-template-columns: 1fr;
  }
  .table__container {
    overflow-x: auto;
  }
}
.profile__section .container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  min-height: 100vh;
  padding: calc(10vh + 1rem) 0 3rem 0;
}
.profile__section .container h2 {
  font-size: 1.6rem;
  text-transform: none;
  margin-bottom: 2rem;
}

footer {
  background-color: #420000;
  color: #fff;
  overflow: hidden;
}
footer .container {
  padding-top: 2rem;
}
footer .container .divider {
  display: block;
  margin-top: 3rem;
  background-color: #fff;
  width: 100%;
  height: 1px;
}
footer .container .contact__container h2 {
  font-size: 1.3rem;
  margin-bottom: 1.8rem;
}
footer .container .contact__container .contact__elements {
  display: grid;
  gap: 0.6rem;
}
footer .container .creator {
  padding: 1rem 0;
  text-align: center;
}/*# sourceMappingURL=style.css.map */