@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './reset.css';
@import './components.css';

:root {
    --bg-primary: #111;
    --bg-secondary: #181818;
    --border-color: #333;

    --font-color: #FFF;
    --details-color: #f02b2b;
}

body {
    background-color: var(--bg-primary);
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.main__header {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;
}

.main__header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    height: 10vh;
}

.main__header nav a {
    margin-inline: .3rem;
}

.main__header nav .btn__primary {
    border: 1px solid transparent;
}

.main__header nav .btn__primary:hover {
    background-color: transparent;
    border-color: var(--details-color);
    color: var(--details-color);
}

.hero__section {
    background: url(../images/wallpaper.jpg) no-repeat;
    background-size: cover;
}

.hero__section .container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    gap: 1.8rem;
}

.hero__section.schedule__hero__section .container {
    justify-content: center;
    text-align: center;
}

.hero__section .hero__section__info {
    width: 60%;
}

.hero__section .hero__section__info h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;

    margin-bottom: 1rem;
}

.hero__section .hero__section__info p {
    line-height: 125%;
    margin-bottom: 2.2rem;
}

.hero__section .hero__section__info a:hover {
    padding-left: 1.5rem;
}

.services__section {
    background-color: var(--bg-secondary);
    text-align: center;
    padding: 6rem 0 7.6rem;
}

.services__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.services__container .service {
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1;

    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
    padding: 2rem;

    display: grid;
    place-content: center;
    text-align: center;
    gap: .6rem;
}

.service.service__sm {
    max-width: 200px;
}

.service:not(.active):hover {
    border-color: var(--details-color);
    cursor: default;
}

.service h3 {
    font-size: 1.4rem;
}

.service p {
    color: var(--details-color);
}

.informations__section {
    padding-top: 8rem;
}

.informations__section .contact__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    padding: 1rem 0 6rem;
}

.informations__section .contact__container p {
    display: flex;
    gap: .6rem;
}

.service__type__section {
    background-color: var(--bg-secondary);
}

.service__type__section .service {
    cursor: pointer;
}


.datetime__section {
    padding-bottom: 6rem;
}

.datetime__section.bg-up::after {
    z-index: -1;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    gap: 1rem;
}

.article__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    padding-top: 6rem;
}

.article__columns .column {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 768px) {
    .article__columns{
        grid-template-columns: 1fr;
    }

    .article__columns .column:last-child {
        margin-top: 5rem;
    }
}

.calendar {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 1;
    margin: 0 auto;
}

.calendar__header {
    margin-bottom: .6rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar__weekdays {
    display: flex;
    justify-content: space-between;
    background-color: var(--details-color);
    border-radius: 3px 3px 0 0;
    padding: .3rem;
}

.calendar__weekdays div,
.calendar__content div {
    display: grid;
    place-content: center;
    padding: .3rem;
    aspect-ratio: 1;
}

.calendar__content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: var(--bg-secondary);
    border-radius: 0 0 3px 3px;
}

.calendar__content div {
    border: 1px solid transparent;
    transition: all .6s ease;
    cursor: default;
}

.calendar__content div.passed {
    cursor: default;
    opacity: .25;
}

.calendar__content div:not(.blank, .active, .passed):hover {
    background-color: var(--details-color);
    cursor: pointer;
}

.time__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.time__buttons button {
    min-width: 60px;
    border-radius: 3px;
    aspect-ratio: 16/9;
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
    font-weight: 500;
}

.time__buttons button:not(.active):hover {
    border-color: var(--details-color);
}

.message__section form {
    max-width: unset;
}

.schedule__confirm {
    display: flex;
    width: max-content;
}

.admin__item__section .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    place-content: center;
    min-height: 100vh;
    gap: 1rem;
}

@media (max-width: 768px) {
    .admin__item__section .container {
        grid-template-columns: 1fr;
    }

    .admin__item__section .container form {
        max-width: unset;
    }
}

.admin__item__section form {
    border: 1px solid var(--border-color);
    padding: 2rem 1rem;
    border-radius: .5rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}